{
  "genesis_nodes": [
    "154.38.160.39",
    "62.171.157.44",
    "161.97.86.81",
    "5.189.130.160",
    "167.86.66.168"
  ],
  "regions": {
    "154.38.160.39": "NorthAmerica",
    "62.171.157.44": "Europe",
    "161.97.86.81": "Europe",
    "5.189.130.160": "Europe",
    "167.86.66.168": "NorthAmerica"
  },
  "ports": {
    "api": 8001,
    "p2p": 9876,
    "rpc": 9877
  },
  "network": {
    "name": "QNet Genesis Bootstrap Network",
    "version": "1.0",
    "last_updated": "2025-08-15"
  }
}
