# Python
__pycache__/
*.py[cod]
*$py.class

# Secrets & Keys
*.pem
*.key
*.env
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Ansible
*.retry

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db